<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <!-- Goatcorp runtime feed (Dalamud, ECommons, etc.) -->
    <add key="Dalamud" value="https://pkgs.dev.azure.com/goatcorp/Dalamud/_packaging/Dalamud/nuget/v3/index.json" />

    <!-- Goatcorp SDK feed (Dalamud.NET.Sdk, DalamudPackager, etc.) -->
    <add key="DalamudSdk" value="https://pkgs.dev.azure.com/goatcorp/Dalamud/_packaging/DalamudSdk/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Dalamud>
      <add key="Username" value="user" />
      <add key="ClearTextPassword" value="pass" />
    </Dalamud>
    <DalamudSdk>
      <add key="Username" value="user" />
      <add key="ClearTextPassword" value="pass" />
    </DalamudSdk>
  </packageSourceCredentials>
</configuration>
